.card {
  border: 2px solid #111111;
  padding: 2rem;
}
.comment {
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #111111;
}
.details {
  display: flex;
  margin-top: 2rem;
}
.avatar {
  border-radius: 100%;
  overflow: hidden;
  margin-right: 0.75rem;
}
.name {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}
.designation {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #111111;
}
