.hero {
  place-items: start normal;
  max-width: 24rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

@media only screen and (min-width: 768px) {
  .hero {
    max-width: 48rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    max-width: 73rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
